<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Hexashop Ecommerce HTML CSS Template</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="assets/css/owl-carousel.css">

    <link rel="stylesheet" href="assets/css/lightbox.css">
<!--

TemplateMo 571 Hexashop

https://templatemo.com/tm-571-hexashop

-->
    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="assets/images/logo.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#men">Products</a></li>
                            <li class="scroll-to-section"><a href="#women">Gallery</a></li>
                            <li class="scroll-to-section"><a href="#explore">About</a></li>
                            <li class="scroll-to-section"><a href="#social">Mantra</a></li>
                            <li class="scroll-to-section"><a href="#contact">Contact</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <div class="thumb">
                            <img src="assets/images/left-banner-image.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="right-first-image">
                                    <div class="thumb">
                                    
                                    
                                        <img src="assets/images/longrich.png">
                                    </div>
                                </div>
                            </div>
                                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Men Area Starts ***** -->
    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Products</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href=""><i class="fa fa-eye"></i></a></li>
                                            <li><a href=""><i class="fa fa-star"></i></a></li>
                                            <li><a href=""><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="assets/images/Arthro SupReviver.png" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Arthro SupReviver</h4>
                                    <span>$120.00</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href=""><i class="fa fa-eye"></i></a></li>
                                            <li><a href=""><i class="fa fa-star"></i></a></li>
                                            <li><a href=""><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="assets/images/Berry Oil.png" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Berry Oil</h4>
                                    <span>$90.00</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href=""><i class="fa fa-eye"></i></a></li>
                                            <li><a href=""><i class="fa fa-star"></i></a></li>
                                            <li><a href=""><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="assets/images/Natural eessence bamboo charcoal soap.png" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Natural eessence bamboo charcoal soap ‘20</h4>
                                    <span>$150.00</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href=""><i class="fa fa-eye"></i></a></li>
                                            <li><a href=""><i class="fa fa-star"></i></a></li>
                                            <li><a href=""><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="assets/images/Longrich conditioner.png" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Longrich conditioner</h4>
                                    <span>$150.00</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href=""><i class="fa fa-eye"></i></a></li>
                                            <li><a href=""><i class="fa fa-star"></i></a></li>
                                            <li><a href=""><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="assets/images/Longrich shampoo.png" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Longrich shampoo</h4>
                                    <span>$150.00</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>

                            
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href=""><i class="fa fa-eye"></i></a></li>
                                            <li><a href=""><i class="fa fa-star"></i></a></li>
                                            <li><a href=""><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="assets/images/Superbklean sanitary pads.png" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Superbklean sanitary pads</h4>
                                    <span>$150.00</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>


                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href=""><i class="fa fa-eye"></i></a></li>
                                            <li><a href=""><i class="fa fa-star"></i></a></li>
                                            <li><a href=""><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="assets/images/White tea nourishiong soap.png" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>White tea nourishiong soap</h4>
                                    <span>$150.00</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href=""><i class="fa fa-eye"></i></a></li>
                                            <li><a href=""><i class="fa fa-star"></i></a></li>
                                            <li><a href=""><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="assets/images/Snake Oil.png" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Snake Oil</h4>
                                    <span>$150.00</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>

                            
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href=""><i class="fa fa-eye"></i></a></li>
                                            <li><a href=""><i class="fa fa-star"></i></a></li>
                                            <li><a href=""><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="assets/images/Multi effect white-tea toothpaste.png" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Multi effect white-tea toothpaste</h4>
                                    <span>$150.00</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>

                                                   <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href=""><i class="fa fa-eye"></i></a></li>
                                            <li><a href=""><i class="fa fa-star"></i></a></li>
                                            <li><a href=""><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="assets/images/Herbal moisturizing body wash.png" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Herbal moisturizing body wash</h4>
                                    <span>$150.00</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                                                   <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href=""><i class="fa fa-eye"></i></a></li>
                                            <li><a href=""><i class="fa fa-star"></i></a></li>
                                            <li><a href=""><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="assets/images/Cordyceps Militaris.png" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Cordyceps Militaris</h4>
                                    <span>$150.00</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>

                                                   <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href=""><i class="fa fa-eye"></i></a></li>
                                            <li><a href=""><i class="fa fa-star"></i></a></li>
                                            <li><a href=""><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="assets/images/Classy style energy pot.png" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Classy style energy pot</h4>
                                    <span>$150.00</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href=""><i class="fa fa-eye"></i></a></li>
                                            <li><a href=""><i class="fa fa-star"></i></a></li>
                                            <li><a href=""><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="assets/images/Classy style energy cup.png" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Classy style energy cup</h4>
                                    <span>$150.00</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href=""><i class="fa fa-eye"></i></a></li>
                                            <li><a href=""><i class="fa fa-star"></i></a></li>
                                            <li><a href=""><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <img src="assets/images/Brightening hand cream.png" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Brightening hand cream</h4>
                                    <span>$120.00</span>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Men Area Ends ***** -->


    <section class="section" id="women">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Gallery</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/1.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/2.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/3.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/4.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/5.png" alt="">
                                </div>
                            </div>

                            
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/6.png" alt="">
                                </div>
                            </div>


                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/7.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/8.png" alt="">
                                </div>
                            </div>

                            
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/9.png" alt="">
                                </div>
                            </div>

                                                   <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/10.png" alt="">
                                </div>
                            </div>
                                                   <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/11.png" alt="">
                                </div>
                            </div>

                                                   <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/12.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/13.png" alt="">
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/14.png" alt="">
                                </div>
                            </div>


                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/15.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/16.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/17.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/18.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/19.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/20.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/21.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/22.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/23.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/24.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/25.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/26.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/27.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/28.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/29.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/30.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/31.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/32.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/33.png" alt="">
                                </div>
                            </div>

                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                    </div>
                                    <img src="assets/images/34.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Explore Area Starts ***** -->
    <section class="section" id="explore">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <h2>The Founder</h2>
                        <p>Linda Barrow-Ikponmwosa is an accomplished professional with a great commitment to make society a better place.

                            She holds a Bachelor of Science Degree in Finance from the University of Illinois, Chicago USA. She is also a Certified Anti-Money Laundering Specialist (CAMS).
                            
                            With over 25 years of professional experience in various sectors notably, retail and corporate banking, consulting services and now also in network marketing, she has left her mark as a productive and result-oriented professional.
                            
                            Greatly passionate about mentoring young women, she is an active member of a great network of mentors who have taken young girls under their wings to mentor, train and support them.
                            
                            A health, wealth and wellbeing advocate, she is a Diamond 4 Leader with Longrich BioScience and a 5 Star Director in the making.
                            
                            As she likes to cheerfully share, her  *WHY* for joining this amazing platform can be captured thus: Total wellness and Financial diversification!
                            
                            
                            
                            
                            </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="first-image">
                                    <img src="assets/images/14.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Explore Area Ends ***** -->

    <!-- ***** Social Area Starts ***** -->
    <section class="section" id="social">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>The DIamond Squad Mantra</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row images">
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                        </div>
                        <img src="assets/images/H.png" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                        </div>
                        <img src="assets/images/H (1).png" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                        </div>
                        <img src="assets/images/H (2).png" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                        </div>
                        <img src="assets/images/H (3).png" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                        </div>
                        <img src="assets/images/H (4).png" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                        </div>
                        <img src="assets/images/H (5).png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Social Area Ends ***** -->

    <!-- ***** Subscribe Area Starts ***** -->
    <section class="section" id="contact">
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-heading">
                        <h2>Subscribe to our Newsletter for tips!</h2>
                    </div>
                    <form id="subscribe" action="" method="get">
                        <div class="row">
                          <div class="col-lg-5">
                            <fieldset>
                              <input name="name" type="text" id="name" placeholder="Your Name" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-5">
                            <fieldset>
                              <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email Address" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-2">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                            </fieldset>
                          </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li>Phone:<br><span>7088409326</span></li>
                                <li>Office Location:<br><span>USA</span></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>Email:<br><span>info@thediamondsquad.com</span></li>
                                <li>Social Media:<br><span> <a href="#">Instagram</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- ***** Subscribe Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <ul>
                            <li><a href="#">USA</a></li>
                            <li><a href="#">info@thediamondsquad.com</a></li>
                            <li><a href="#">7088409326</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022 The Diamond Squad
                        
                        <br>Design: <a href="https://web.facebook.com/vincent.onoja.5891" target="_parent" title="free css templates">Pyeramid</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/accordions.js"></script>
    <script src="assets/js/datepicker.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    <script src="assets/js/slick.js"></script> 
    <script src="assets/js/lightbox.js"></script> 
    <script src="assets/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>